.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.gif {
  background-color: lightslategray;
  display: flex;
  width: 100vw;
  border-bottom: 2px black solid;
}

.gifholder {
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
}

.gifleft {
  display: flex;
  flex-direction: column;
  padding-top: 2vw;
  padding-bottom: 2vw;
  width: 50vw;
  justify-content: space-between;
}

.gifright {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
}

.giffyButton {
  
}

.header {
  display: flex;
  flex-direction: row;
  background-color: navy;
  color: white;
  justify-content: space-between;
  align-items: center;
}

.rating {
  
}

.realgif {
  width: 21vw;
  /* padding: 2vw; */
  height: 21vw;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
